body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Verhindert Scrollbalken, wenn nicht erwünscht */
  }
  
  .header-image {
    z-index: 1;
    width: 100vw; /* 100% der Viewport-Breite */
    height: 100vh; /* 100% der Viewport-Höhe */
    object-fit: cover; /* Stellt sicher, dass das Bild den Container bedeckt, ohne seine Proportionen zu verlieren */
    position: fixed; /* Fixiert das Bild, damit es auch beim Scrollen im Hintergrund bleibt */
    top: 0;
    left: 0;
  }
  .container {
    z-index: 2;
    position: absolute;
    right: 32px;
    left: 32px;
    top: 16px;
    font-size: 18px;
    z-index: 10; /* Stellt sicher, dass die Links über dem Bild liegen */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-link {
    color: #004626; /* Ändert die Farbe zu weiß für bessere Sichtbarkeit */
    text-decoration: none;
    margin-left: 20px; /* Fügt einen Abstand zwischen den Links hinzu */
  }
  .menu-link:not(:last-child):after {
    content: "|"; /* Fügt Trennzeichen zwischen den Links hinzu */
    margin-left: 20px;
    color: #004626; /* Farbe des Trennzeichens */
  }
  .menu-link:hover {
    text-decoration: underline;
  }
  .headline {
    z-index: 3;
    position: relative;
    position: 50px;
    padding: 50px ;
    left: 50px;
    top: 60px;
    color: #004626;
    font-size: 40px;
    width: 500px;
    text-shadow: 5px 5px 5px rgba(0,0,0,0);
  }
  .description-section{
    z-index: 4;
    position: relative;
    position: 100px;
    height: 200px;
    padding: 10px 100px;
    top: 300;
  }